#photo_show.row
	.col-md8.col-md-offset-2
		.panel.panel-default
			.panel-heading.photo_image
				= image_tag @photo.image.url
			.panel-body
				%h1= @photo.title
				%ul
					%li.photo-setting 
					F/Stop:
					= @photo.fstop 
					%li.photo-setting
					Shutter Speed:
					= @photo.speed 
					%li.photo-setting
					ISO:
					= @photo.iso
				%p.description= @photo.description
				%p.small
				Submitted by
				= @photo.user.email
			.panel-footer
				.row
					.col-md-6
						%p.user
							Submitted by
							= @photo.user.email
					.col-md-6
						.btn-group.pull-right
							- if user_signed_in?
								= link_to "Edit", edit_photo_path, class: "btn btn-default"
								= link_to "Delete", photo_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
